#root {
  max-width: 1000px;
  margin: auto;
}

div {
  /*   place-items: center; */
  margin: 50px;
  height: 100% vh;
  background-color: #3145f5;
  align-items: center;
}

footer {
  align-self: flex-end;
}
